[submodule "usyd-gen3-data-dictionary"]
	path = usyd-gen3-data-dictionary
	url = https://github.com/Sydney-Informatics-Hub/usyd-gen3-data-dictionary
[submodule "gen3schemadev"]
	path = gen3schemadev
	url = https://github.com/AustralianBioCommons/gen3schemadev.git
